.landing_image {
  width: 1200px;
  height: 800px; 
  /* backdrop-filter: blur( 7.0px ); */
  object-fit: contain;
  display: flex;
  justify-content: left;
  align-items: center;
}
.image {
  width: 1200px;
  height: 800px; 
  background-image: url('../landing.png');
}

.landing_title {
  font-size: 70px;
  font-weight: bold;
  font-family: sans-serif;
}
